{% extends 'back/master.html' %}

{% load static %}
{% load jalali_tags %}

{% block mainblock %}
	<!-- Page content -->
	<div id="page-content">
		<!-- Datatables Header -->
		<div class="content-header">
			<div class="header-section">
				<h1>
					<i class="fa fa-table"></i>News List<br><small>You can manage news...!</small>
				</h1>
			</div>
		</div>
		<ul class="breadcrumb breadcrumb-top">
			<li>News</li>
			<li><a href="">List</a></li>
		</ul>
		<!-- END Datatables Header -->

		<!-- Datatables Content -->
		<div class="block full">
			<div class="block-title">
				<h2><strong>News</strong> List</h2>
			</div>

			<div class="table-responsive">
				<table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
					<thead>
					<tr>
						<th class="text-center">ID</th>
						<th class="text-center">Image</th>
						<th class="text-center">Title</th>
						<th class="text-center">Author</th>
						<th class="text-center">Subcategory</th>
						<th class="sorting">Views</th>
						<th class="text-center sorting">Publish Date</th>
						<th class="text-center">Actions</th>
					</tr>
					</thead>
					<tbody>

					{% for news in news_list %}
						<tr>
							<td class="text-center">{{ news.pk }}</td>
							<td class="text-center"><a href="{% url 'news_details' title=news.title %}"><img src="{{ news.image.url }}" alt="avatar" class="img-circle" width="80px" height="80px"></a></td>
							<td class="text-center">{{ news.title }}</td>
							<td class="text-center">{{ news.author }}</td>
							<td class="text-center">{{ news.subcategory.title }}</td>
							<td class="text-center">{{ news.views }}</td>
							<td class="text-center">{{ news.created_date|to_jalali:'%Y/%m/%d'}}</td>
							<td class="text-center" >
								<div class="btn-group">
									<a href="{% url 'edit_news' pk=news.pk %}" data-toggle="tooltip" title="Edit" class="btn btn-sm btn-default"><i class="fa fa-pencil"></i></a>
									<a href="{% url 'delete_news' pk=news.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a>
								</div>
							</td>
						</tr>
					{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
		<!-- END Datatables Content -->
	</div>
	<!-- END Page Content -->
{% endblock %}

{% block footerblock %}
	<!-- Load and execute javascript code used only in this page -->
	<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
	<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}