{% extends 'back/master.html' %}

{% load static %}

{% block mainblock %}
	<!-- Page content -->
	<div id="page-content">
		<!-- Datatables Header -->
		<div class="content-header">
			<div class="header-section">
				<h1>
					<i class="fa fa-table"></i>Subcategories List<br><small>You can manage subcategories...!</small>
				</h1>
			</div>
		</div>
		<ul class="breadcrumb breadcrumb-top">
			<li>Subcategories</li>
			<li><a href="{% url 'subcategories_list' %}">List</a></li>
		</ul>
		<!-- END Datatables Header -->

		<!-- Datatables Content -->
		<div class="block full">
			<div class="block-title">
				<h2><strong>Subcategories</strong> List</h2>
			</div>

			<div class="table-responsive">
				<table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
					<thead>
					<tr>
						<th class="text-center">ID</th>
						<th class="text-center">Title</th>
						<th class="text-center">Category</th>
						<th class="text-center">Count</th>
						<th class="text-center">Actions</th>
					</tr>
					</thead>
					<tbody>

					{% for subcategory in subcategories %}
						<tr>
							<td class="text-center">{{ subcategory.pk }}</td>
							<td class="text-center">{{ subcategory.title }}</td>
							<td class="text-center">{{ subcategory.category.title }}</td>
							<td class="text-center">{{ subcategory.count }}</td>
							<td class="text-center" >
								<div class="btn-group">
									<a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-sm btn-default"><i class="fa fa-pencil"></i></a>
									<a href="#" data-toggle="tooltip" title="Delete" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a>
								</div>
							</td>
						</tr>
					{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
		<!-- END Datatables Content -->
	</div>
	<!-- END Page Content -->
{% endblock %}

{% block footerblock %}
	<!-- Load and execute javascript code used only in this page -->
	<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
	<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}